/emacs/el-get/*
/emacs/elpa/*
/emacs/ac-comphist.dat
/emacs/history
/emacs/tramp
/emacs/url/*
/emacs/.woman-cache.el
/emacs/srecode-map.el
/emacs/semanticdb
/emacs/auto-save-list/*
/emacs/.python-environments/*
/emacs/undohist/*
*.elc