/.emacs.d/el-get/*
/.emacs.d/elpa/*
/.emacs.d/ac-comphist.dat
/.emacs.d/history
/.emacs.d/tramp
/.emacs.d/url/*
/.emacs.d/.woman-cache.el
/.emacs.d/srecode-map.el
/.emacs.d/semanticdb
/.emacs.d/auto-save-list/*
/.emacs.d/.python-environments/*
*.elc